/* Label styles */

#commentform {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin-top: 8px;
    background: $light-secondaryContainer;
    padding: 10px;

    #reserve-data{
        h2{
            text-align: center;
        }
    }
    
    #reserve-people-desktop {
        display: none;
    }
    #reserve-people {
        label {
            display: block;
            text-align: initial;
        }
    }
    @media (min-width: $breakpoint-tablet) {
        @import "reserve-form-desktop.module";
    }

    [class*="comment-form"] label,
    #trip-dates label, #reserve-people-desktop {
        padding: 5px 0;
        font-size: 0.75rem;
        animation: silo-fade 0.2s;
        input, select {
            width: 100%;
            padding: 10px;

            border-radius: 6px;
            border: 1px solid black;
            height: 35px;
            text-align: center;
            outline: none;
            &:focus-visible {
                outline: 2px solid $dark-tertiary;
            }
            &[type="date"]:not(.has-value):after {
                content: attr(placeholder);
            }

            &:invalid {
                border: 1px solid $light-errorContainer;
                background-color: $dark-error;
            }
            &:focus:invalid {
                border: 1px solid $light-errorContainer;
            }
            &:valid {
                border: 1px solid $dark-onTertiaryContainer;
                background-color: $dark-onTertiaryContainer;
            }
            &::placeholder {
                color: initial;
                text-align: center;
            }
        }
    }

    h2 {
        color: $dark-tertiaryContainer;
        margin: 5px;
    }

    input[type="submit"] {
        font-size: 1rem;
        margin: 15px auto;

        width: 100%;
        padding: 11px;
        border: 1px solid black;
        background-color: $light-tertiary;
        border-radius: 5px;
        color: white;
        @include btnEffect($dark-onTertiary);
        cursor: pointer;

        a {
            text-decoration: none;
            color: white;
        }
    }
}
