$light-tertiary: #106e20;
$dark-onSecondaryContainer: #deed49;
$light-house: #f5ff90;
$dark-onTertiary: #003907;
$dark-onTertiaryContainer: #9ef898;
$light-error: #ba1b1b;
$dark-house: #271d09;
$dark-tertiaryContainer: #00530e;
$light-errorContainer: #ffdad4;
$dark-error: #b9232685;


$light-primary: #3c6a00;
$light-onPrimary: #ffffff;
$light-primaryContainer: #b9f475;
$light-onPrimaryContainer: #0e2000;
$light-secondary: #5a6400;
$light-onSecondary: #ffffff;
$light-secondaryContainer: #deed49;
$light-onSecondaryContainer: #1a1e00;
$light-onTertiary: #ffffff;
$light-tertiaryContainer: #9ef898;
$light-onTertiaryContainer: #002202;
$light-onError: #ffffff;
$light-onErrorContainer: #410001;
$light-background: #fbfdfd;
$light-onBackground: #191c1d;
$light-surface: #fbfdfd;
$light-onSurface: #191c1d;
$light-surfaceVariant: #e1e4d6;
$light-onSurfaceVariant: #44483d;
$light-outline: #75796c;
$light-inverseOnSurface: #eff1f1;
$light-inverseSurface: #2d3132;
$dark-primary: #9ed75c;
$dark-onPrimary: #1c3700;
$dark-primaryContainer: #2c5000;
$dark-onPrimaryContainer: #b9f475;
$dark-secondary: #c1d02c;
$dark-onSecondary: #2e3400;
$dark-secondaryContainer: #434b00;
$dark-tertiary: #82db7e;

$dark-onError: #680003;

$dark-onErrorContainer: #ffdad4;
$dark-background: #191c1d;
$dark-onBackground: #e0e3e3;
$dark-surface: #191c1d;
$dark-onSurface: #e0e3e3;
$dark-surfaceVariant: #44483d;
$dark-onSurfaceVariant: #c4c8b9;
$dark-outline: #8e9285;
$dark-inverseOnSurface: #191c1d;
$dark-inverseSurface: #e0e3e3;

