$breakpoint-mobile: 320px;
$breakpoint-max-mobile: 767px;
$breakpoint-tablet: 768px;
$breakpoint-max-tablet: 991px;
$breakpoint-desktop: 992px;
$breakpoint-max-desktop: 1199px;
$breakpoint-large-desktop: 1200px;
$breakpoint-extra-small: 544px;